:root{
    --glass: rgba(90,110,120,0.3);
    --glass-shadow: rgba(30,50,60,0.3);
    --on-glass: rgb(100, 110, 130);
    --primary-gradient: linear-gradient(176deg, #0A84FF, #BF5AF2 70%);
}

.page-header {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.total-amount {
    font-size: 4rem;
    margin: 0;
}

.month-difference, .stats {
    display: flex;
    gap: 0.5rem;
    font-size: 1.2rem;
    flex-direction: row;
}

.stats {
    justify-content: space-between;
    width: 100%;
}


.positive{
    color: lightgreen;
}

.negative {
    color: lightcoral;
}

.on-glass {
    margin: 0;
    font-size: 1.5rem;
    color: var(--on-glass);
}

.total {
    display: flex;
    flex-direction: row;
    align-items: last baseline;
    justify-content: start;
    gap: 1rem;
    width: 100%;
}

.budget-amount {
    margin: 0;
    font-size: 3.5rem;
    color: var(--on-glass);
}

.page-title {
    font-size: 3rem;
    font-weight: bold;
    background: var(--primary-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.box{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 1rem 2rem;
    justify-content: center;
    border: none;
    border-radius: 1rem;
    background-color: var(--glass);
    box-shadow: 5px 5px 15px var(--glass-shadow);
}

.bar {
    background-color: var(--glass);
    height: 1.5rem;
    border-radius: 1rem;
    width: 100%;
}

.progress {
    background: var(--primary-gradient);
    border-radius: 1rem;
    height: 1.5rem;
}