@using PersonalExpenses.Helpers.Expenses
@model PersonalExpenses.ViewModel.ExpensesView

@{ int index = 0; }
<ul class="expense-list">
    @if(Model.Expenses != null) 
    {
        @foreach (var expense in Model.Expenses)
        {
            <li class="enter-animation" style="animation-delay:@(index * 0.1 + 0.1)s;">
                @if (Model.EditId == expense.Id)
                {
                    @await Html.PartialAsync("_RegularExpenseEditForm", new Tuple<PersonalExpenses.ViewModel.ExpensesView, PersonalExpenses.Model.Expense>(Model, expense))
                    @await Html.PartialAsync("_ExpenseDeleteForm", new Tuple<PersonalExpenses.ViewModel.ExpensesView, PersonalExpenses.Model.Expense>(Model, expense))
                }
                else
                {
                    <span>@expense.Date.ToString("yyyy-MM-dd")</span>
                    <span>@expense.Name</span>
                    <span>@expense.Amount.ToString("C")</span>
                    <a href="@Url.GenerateExpenseLink("Expenses", "Index", Model, new { EditId = expense.Id })" class="clear-filter">Edit</a>
                }
            </li>
            index++;
        }
    }
</ul>