@model PersonalExpenses.ViewModel.ExpensesView
@{
    Layout = "_Layout";
    ViewData["Title"] = "My Expenses";
}

@section Styles {
    <link rel="stylesheet" href="~/css/expenses.css" />
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert-success">@TempData["SuccessMessage"]</div>
}

<div class="expense-content">
    <div class="expand">
        @await Html.PartialAsync("_BudgetBreakdown") 
    </div>
    @await Html.PartialAsync("_ExpensesList")
    <button id="toggleAdd" class="button add" type="button" onclick="toggleDropdown()">
        Add Expense
    </button>
    <div id="partialContainer" class="expand partial hidden">
        @await Html.PartialAsync("_AddExpense")
    </div>
</div>
