@model PersonalExpenses.ViewModel.ExpensesView
@{
    Layout = "_Layout";
    ViewData["Title"] = "My Expenses";
}


@* Page Header *@
<div class="page-header">
    <h1 class="page-title">Welcome Back, @Model.User.Name</h1>
</div>

<div class="expense-content">
    <div class="expand">
        @await Html.PartialAsync("_BudgetBreakdown") 
    </div>
    <div class="chart-and-recent">
        @await Html.PartialAsync("_ExpensesBreakdown")
        @await Html.PartialAsync("_RecentTransactions")
    </div>
    <button id="toggleAdd" class="button add" type="button" onclick="toggleDropdown()">
        Add Expense
    </button>
    <div id="partialContainer" class="expand partial hidden">
        @await Html.PartialAsync("_AddExpense")
    </div>
</div>
