@model PersonalExpenses.ViewModel.ExpensesView
@{
    Layout = "_Layout";
    ViewData["Title"] = "My Expenses";
}

@section Styles {
    <link rel="stylesheet" href="~/css/expenses.css" />
}

@* Success Message *@
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert-success">@TempData["SuccessMessage"]</div>
}

@* Page Header *@
<div class="page-header">
    <h1 class="page-title">Welcome Back, @Model.User.Name</h1>
</div>

@await Html.PartialAsync("_BudgetBreakdown")
@await Html.PartialAsync("_ExpensesBreakdown")